
/** ADD YOUR AWESOME CODES HERE **/
#logo{
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

  @keyframes example {
      0%   { left:200%;}
    100% { left:0;}
  }



